.filters {
  padding-block: 25px;

  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 20px;
      margin-bottom: 10px;
      color: var(--primary-color);
    }

    input {
      width: 80%;

      &:focus-visible {
        outline: none;
      }
    }
  }
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
