.house {
  background: var(--accent-color);
  border-radius: 30px;
}

.heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.actions {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 20px 20px;
}

.location img {
  width: 22px;
}

section.house a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

section.house a::after {
  content: "\203A";
  margin-left: 5px;
}
